[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/eigenda"]
	path = lib/eigenda
	url = https://github.com/Layr-Labs/eigenda
[submodule "lib/eigenlayer-middleware"]
	path = lib/eigenlayer-middleware
	url = https://github.com/yetanotherco/eigenlayer-middleware
[submodule "lib/aligned_layer"]
	path = lib/aligned_layer
	url = https://github.com/yetanotherco/aligned_layer
